.header {
   color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;

   &.scroll {
		background-color: rgba($color: #000000, $alpha: 0.4);
	}

	&__container {
		position: sticky;
		min-height: toRem(88);
		display:grid;
		grid-template-columns: 170px 1fr 205px;
		align-items: center;
		z-index: 10;
		@media (max-width:$mobile){
			 grid-template-columns: auto auto;
			 justify-content: space-between; 
			 align-items: center;
		}
	}

	&__menu {
		
	}
	&__logo {
		position: relative;
		font-family: Clicker Script;
		font-size: toRem(35);
		z-index: 50;
		@media (max-width:$mobile){
			 font-size: toRem(42); 
		}
	}
}

.menu {

	&__body {
		padding-left: toRem(10);
		padding-right: toRem(10);
		@media (max-width:$mobile){
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 100%;
			background-color: #6f4e37;
			z-index: 2;
			overflow: auto;
			transition: left 0.5s;
			display: flex;
			flex-direction: column;
			&::before{
				content:'';
				position: fixed;
				width: 100%;
				height: 88px;
				left: 0;
				top: 0;
			}
			.menu-open & {
				left: 0;
				transition: left 0.5s;
				&::before {
					content:'';
					position: fixed;
					width: 100%;
					height: 88px;
					left: 0;
					top: 0;
					background-color: #6b4326;
					z-index: 45;
				}
			}
		}
		
	}

	&__list {
		display: flex;
		justify-content: center;
		@include adaptiveValue("gap", 60, 0);
		@media (max-width:$mobile){
			 justify-content: start;
			 align-items: center;
			 flex: 1 1 auto;
			 margin-top: toRem(120);
			 flex-direction: column; 
			 row-gap: toRem(40);
			 padding-bottom: toRem(50);
		}
	}

	&__item {
		
	}

	&__link {
		font-family: Playfair Display;
		font-weight: 500;
		transition: all 0.3s;
		position: relative;
		font-size: toRem(14);
		@media (max-width:$mobile){
			font-size: toRem(26);
		}
		&:before{
			content:'';
			position: absolute;
			width: 0;
			height: 1px;
			bottom: 0;
			left: 0;
			background-color: #fff;
			transition: all 0.3s ease;
		}
		&:hover:before {
			width: 100%;
			color:#c9c9c9;
		}
		&._navigator-active {
			text-decoration: underline;
		}
	}
}

.autorization {
	gap: 25px;
	display: flex;
	justify-content: end;
	z-index: 50;
	@media (max-width:$mobile){
		justify-content: center;
		padding-bottom: toRem(100);
	}
	&__item {
	}

	&__link {
		position: relative;
		text-decoration: underline;
		transition: all 0.3s;
		font-size: toRem(14);
		@media (max-width:$mobile){
			 font-size: toRem(24); 
		}
         &--reg {
         text-decoration: none;
			background-color: #F9C06A;
			padding: toRem(14) toRem(27);
			border-radius: 24px;
			color: #000;
			&:hover {
				background-color: #fcb347;
			}
			&:before:before {
				width: 0%;
			}
      }
	}
}
//====================================================================================================

//====================================================================================================
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}