@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін
@import url("https://fonts.googleapis.com/css?family=Clicker+Script:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700&display=swap");
// Підключити, якщо є локальні файли шрифтів
//@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Playfair";
$fontSize: toRem(20); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням
$btnColor:#F9C06A;
$btnHoverColor:#fcb347;
// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1150;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	background-color: #FFFEFC;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
		opacity: 1;
		transition: all 0.3s;
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100мр;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

.hero {
	min-height: 100vh;
   color: #fff;
   font-family: Playfair Display;
   &__container {
		display: flex;
      height: 100vh;
		z-index: 2;
	}

	&__content {
		display: flex;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		z-index: 1;
		max-width: toRem(527);
		@media (max-width:$tablet){
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 100%;
			text-align: center;
			justify-content: center;
		}
	}

	&__text {
      
	}

	&__label {
		font-size: toRem(22);
		font-weight: 500;
		margin-bottom: toRem(45);
		font-family: Playfair Display;
		@include adaptiveValue("font-size", 22, 16);
	}

	&__title {
		font-family: Clicker Script;
		@include adaptiveValue("font-size", 220, 120);
		margin-bottom: toRem(20);
	}

	&__subtitle {
		margin-bottom: toRem(20);
		font-family: Playfair Display;
		max-width: toRem(600);
		font-size: toRem(20);
		@include adaptiveValue("font-size", 20, 14);
		line-height: 170%; /* 34/20 */
	}

	&__button {
		padding: toRem(14) toRem(26);
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 0;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}


.bestcoffe {

	&__block-header {
	}
}
.block-header {

	&__title {
		margin-bottom: toRem(29);
	}
}


.bestcoffe {
	@include adaptiveValue("padding-top", 150, 20);
	@include adaptiveValue("padding-bottom", 82, 20);
	position: relative;
	&__blast {
		transform: translate(-60px, 0px);
		position: absolute;
		bottom: 0;
		left: 0;
		height: 272px;
		width: 36.603221%; /* 500/1366 */
		z-index: -2;
		@media (max-width:$tablet){
			display: none;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
		}
	}
	
	&__container {
		display: grid;
		grid-template-columns: 52% auto; /* 585/1180 */
		column-gap: 95px;
		row-gap: 20px;
		@media (max-width:$tablet){
			grid-template-columns: auto;
			align-items:center;
			justify-content: center;
		}
	}

	&__text {
		max-width: toRem(585);
   }


	&__title {
		margin-bottom: toRem(30);
	}

	&__subtitle {
		margin-bottom: toRem(30);
		max-width: toRem(570);
	}

	&__button {
		padding: toRem(14) toRem(23);
		margin-top: toRem(29);
	}

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
         max-width: 100%;
		}
	}
}

.enjoy {
  @include adaptiveValue("padding-top", 82, 20);
  @include adaptiveValue("padding-bottom", 82, 20);
	&__container {
	}

	&__text {
		text-align: center;
      padding-bottom: toRem(30);
	}

	&__title {
		margin-bottom: toRem(16);
	}

	&__subtitle {
		margin-bottom: toRem(32);
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, 270px);
		column-gap: toRem(20);
		row-gap: toRem(20);
		justify-content: center;
		align-item:center;
	}

	&__item {
		width: toRem(280);
		background-color: #FFF9F1;
		border: 1px solid rgba(249, 192, 106, 0.42);
		height: toRem(364);
		transform: translate(-10%, 0);
		opacity: 0;
		transition: transform 0.5s, opacity 0.5s;
		._watcher-view & {
			transform: translate(0, 0);
			opacity: 1;
			@for $i from 1 through 4{
				&:nth-child(#{$i}){
					$delay: $i * 0.2;
					transition-delay: #{$delay}s;
				}
			}
		}
	}
}

.item-enjoy {
   text-align: center;
	&__image {
      aspect-ratio:  364 / 280;
		position: relative;
		margin-bottom: toRem(14);
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.5s;
			&:hover {
				transform: scale(1.05)
			}
		}
	}

	&__title {
		@include adaptiveValue("font-size", 28, 20);
		margin-bottom: toRem(6);
		font-weight: 700;
		a {
			position: relative;
			&:before{
				content:'';
				position: absolute;
				width: 0;
				height: 2px;
				bottom: 0;
				left: 0;
				background-color: #603809;
				transition: all 0.3s ease;
			}
			&:hover:before {
				width: 100%;
			}
		}
	}

	&__composition {
		@include adaptiveValue("font-size", 20, 16);
		color: #1E1E1E;
		margin-bottom: toRem(6);
	}

	&__price {
      @include adaptiveValue("font-size", 22, 18);
		color: #603809;
		font-weight: 700;
		margin-bottom: toRem(16);
	}

	&__button {
		transform: translate(0px, 18px);
		padding: toRem(13) toRem(26);
	}
}


.different {
	padding-bottom: toRem(82);
	&__container {
	}

	&__text {
		padding-bottom: toRem(32);
	}

	&__title {
		margin-bottom: toRem(16);
	}

	&__subtitle {
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, 272px);
		gap: toRem(20);
		justify-content: center;
		align-item:center;
	}

	&__item {
		padding: toRem(36) toRem(40);
		background-color: #FFF9F1;
		max-width: toRem(290);
		height: toRem(280);
		border: 1px solid rgba(249, 192, 106, 0.42);
		transition: all 0.3s;
		transform: translate(10%, 0);
		opacity: 0;
		transition: transform 0.5s, opacity 0.5s;
		._watcher-view & {
			transform: translate(0, 0);
			opacity: 1;
			@for $i from 1 through 4{
				&:nth-child(#{$i}){
					$delay: $i * 0.2;
					transition-delay: #{$delay}s;
				}
			}
		}
		&-another {
			padding: toRem(34) toRem(34);
		}
		&:hover {
			transform: scale(1.05);
			background-color: #FFEED8;
		}
	}

	&__sectext {
		padding-top: toRem(32);
		margin-bottom: toRem(24);
	}

	&__secsub {
	}

	&__sectitle {
		margin-bottom: toRem(24);
	}

	&__button {
		padding: toRem(14) toRem(41);
	}
}
.item-different {
   text-align: center;
	&__icon {
		margin-bottom: toRem(25);
	}

	&__title {
      font-size: toRem(28);
		font-weight: 700;
		color: #603809;
		margin-bottom: toRem(5);
		line-height: 110%;
	}

	&__subtitle {
		font-size: toRem(20);
		color: #707070;
		line-height: 110%;
	}
}


.amazing {
   background-color: #603809;
	position: relative;
	// &::after {
	// 	content: '';
	// 	background-image: url(@img/get_chance/coffee_bean.png) no-repeat;
	// 	position: absolute;
	// 	right: 0;
	// 	bottom: 0;
	// 	width: 100%;
	// 	height: 100%;
	// }

	&__img {
	}
	
	&__container {
		display: grid;
		grid-template-columns: 48.728814% auto; /* 575/1180 */
		column-gap: toRem(225);
		@include adaptiveValue("column-gap", 225, 50);
		padding: toRem(54) toRem(0);
		z-index: 2;
		position: relative;
		@media (max-width:$tablet){
			grid-template-columns: auto;
         text-align: center;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		padding-top: toRem(42);
		padding-bottom: toRem(42);
		justify-content: center;
		align-items:start;
		@media (max-width:$tablet){
         align-items: center;
		}
	}

	&__title {
		font-family: Playfair Display;
		@include adaptiveValue("font-size", 54, 38);
		color: #FFF;
		font-weight: 700;
		margin-bottom: toRem(22);
		line-height: 130%;
	}

	&__subtitle {
		font-size: toRem(20);
		color: #fff;
		line-height: 170%; /* 34/20 */
		font-family: Playfair Display;
		max-width: toRem(410);
		margin-bottom: toRem(22);
	}

	&__button {
		padding: toRem(14) toRem(26);
		margin-top: toRem(22);
	}

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
         max-width: 100%;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: #603809;
		img {
			opacity: 0.3;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

.perfection {
   @include adaptiveValue("padding-top", 82, 20);
	@include adaptiveValue("padding-bottom", 82, 20);
	&__container {
		
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
		
	}


   &__body {
      position: relative;
		
	}

	&__arrow {
		position: absolute;
		top: 50%;
		width: 106px;
		height: 106px;
		@media (max-width:$tablet){
			display: none;
		}
	}

	&__arrow--left {
		background: url(@img/perfection/arr-r.svg) center no-repeat;
		left: 0;
		transform: translate(-50%, 0);
		border-radius: toRem(16);
	}

	&__arrow--right {
		background: url(@img/perfection/arr-l.svg) center no-repeat;
		right: 0;
		transform: translate(50%, 0);
		border-radius: toRem(16);
	}
	
}
.perfection-block-header {
	margin-bottom: toRem(45);
}
.block-header {

		&__title {
		}

		&__subtitle {
		}
}


.slide-perfection {
	overflow: visible;
	border: 1px solid rgba(249, 192, 106, 0.42);
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #FFF9F1;
	padding-top: toRem(130);
	@include adaptiveValue("padding-left", 100, 50);
	@include adaptiveValue("padding-right", 100, 50);
	position: relative;
	&::before {
		content: "“";
		position: absolute;
		height: 100px;
		width: 100px;
		top: 0;
		padding-top: toRem(43);
		padding-left: toRem(10);
		left: 0;
		font-size: toRem(220);
		line-height: 51%;
		font-weight: 700;
		color: #603809;

	}
	&__text {
		margin: 0 auto;
		max-width: toRem(780);
		color: #707070;
		font-family: Playfair Display;
		font-size: toRem(18);
		font-weight: 600;
		line-height: 200%;
		margin-bottom: toRem(28);
	}

	&__title {
		color: #603809;
		font-size: toRem(32);
		font-family: Playfair Display;
		font-weight: 700;
		margin-bottom: toRem(5);
	}

	&__work {
		color: #707070;
      font-family: Playfair Display;
      font-size: toRem(20);
      line-height: 170%; /* 170% */
	}

	

	&__image {
		align-self: center;
		width: toRem(112);
		height: toRem(112);
		position: relative;
		transform: translate(0, 50%);
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: toRem(16);
		}
	}
}



.subscribe {
   position: relative;
	background-color: #603809;
	@include adaptiveValue("padding-top", 82, 20);
	@include adaptiveValue("padding-bottom", 82, 20);
	&__container {
	}

	&__form {
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: #603809;
		img {
			opacity: 0.3;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

   &__form {
		padding-top: toRem(26);
   	position: relative;
   	z-index: 2;
		display: flex;
		justify-content: center;
   }

	
	&__input {
     padding: toRem(16) toRem(26);
	  border-bottom-left-radius: toRem(4);
	  border-top-left-radius: toRem(4);
	  border: 1px solid rgba(249, 192, 106, 0.42);
	  background: #FFF9F1;
	  width: 100%;
	  max-width: toRem(550);
	  outline: none;
	}

	&__button {
		padding: toRem(19) toRem(24);
		border-bottom-right-radius: toRem(4);
		border-top-right-radius: toRem(4);
      background: $btnColor;
      box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
		transition: all 0.3s;
		&:hover {
			background-color: $btnHoverColor;
		}
		span {
			color: #603809;
			font-family: Playfair Display;
         font-size: 22px;
         font-weight: 700;
		}
	}
}
.subscribe-block-header {
	position: relative;
	z-index: 2;
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";
